<section id="about" class="about">
  <div class="about-container">
    <div class="about-text">
      <h2>About Me</h2>
      <p>
        I'm <span class="highlight">Alaa Al-Gohary</span>, a passionate 
        <strong>Frontend Developer</strong> and 
        <strong>Computer Science student</strong>.  
        I love building clean, modern, and user-friendly web apps.  
        Currently, I'm exploring <strong>Full Stack Development</strong> and 
        aiming to become a <strong>Data Scientist</strong> in the future.
      </p>
      <a href="#skills" class="btn">See My Skills</a>
    </div>
    <div class="about-image">
      <img src="assets/lolly.jpg" alt="lolly image">
    </div>
  </div>
</section>
