<section id="skills" class="skills">
  <div class="skills-container">
    <h2>My Skills</h2>
    <p>Here are some of the technologies and tools I work with:</p>

    <div class="skills-grid">
      <div class="skill-card">HTML</div>
      <div class="skill-card">CSS</div>
      <div class="skill-card">JavaScript</div>
      <div class="skill-card">TypeScript</div>
      <div class="skill-card">Angular</div>
      <div class="skill-card">React</div>
      <div class="skill-card">.NET</div>
      <div class="skill-card">SQL Server</div>
      <div class="skill-card">Python</div>
      <div class="skill-card">Data Analysis</div>
      <div class="skill-card">Proplem Solving</div>
       <div class="skill-card">Data strcture</div>
    </div>
  </div>
</section>
